<!DOCTYPE html>
<html>
<head>
    {% include "_head.html.twig" %}


    {% if block("title") is defined %}
        {% set title = block('title')|default("Un Donjon de Caractère !") %}
    {% else %}
        {% set title = "Un Donjon de Caractère !" %}
    {% endif %}

    {% if block("meta_description") is defined %}
        {% set meta_description = block('meta_description')|default("Des personnages de Donjons et Dragons originaux à jouer pendant vos campagnes endiablées.") %}
    {% else %}
        {% set meta_description = "Des personnages de Donjons et Dragons originaux à jouer pendant vos campagnes endiablées." %}
    {% endif %}

    {% if block("image") is defined %}
        {% set image = block('image')|default(absolute_url(asset("/img/site/logo.jpg"))) %}
    {% else %}
        {% set image = absolute_url(asset("/img/site/logo.jpg")) %}
    {% endif %}


    <title>{{ title }}</title>
    <meta name="Description" content="{{ meta_description }}">

    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:image" content="{{ image }}">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params'))) }}" />
    <meta property="og:type" content="website" />

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/fontawesome-free/css/all.min.css') }}" type="text/css">
        {{ encore_entry_link_tags('theme') }}
        {{ encore_entry_link_tags('app') }}
        {# {{ encore_entry_link_tags('font-awesome') }} #}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- preloader -->
{#<div class="preloader">#}
{#    <div class="loader">#}
{#        <span class="dot"></span>#}
{#        <div class="dots">#}
{#            <span></span>#}
{#            <span></span>#}
{#            <span></span>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- /preloader -->

<header class="navigation container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ path('home') }}"><img class="img-fluid" src="images/logo.png" alt="parsa"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
                aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

{#        <div class="collapse navbar-collapse text-center" id="navogation">#}
{#            <ul class="navbar-nav ms-auto">#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" id="navbarDropdown"#}
{#                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Home#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="index.html">Homepage 1</a>#}
{#                        <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link text-uppercase text-dark" href="about.html">About</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link text-uppercase text-dark" href="category.html">Categories</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link text-uppercase text-dark" href="contact.html">Contact</a>#}
{#                </li>#}
{#            </ul>#}
{#            <form class="form-inline position-relative ms-lg-4">#}
{#                <input class="form-control px-0 w-100" type="search" placeholder="Search">#}
{#                <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->#}
{#                <a href="search.html" class="search-icon"><i class="ti-search text-dark"></i></a>#}
{#            </form>#}
{#        </div>#}
    </nav>
</header>


{% for flash in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}


{% block body %}{% endblock %}

<footer class="bg-secondary">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 mb-4 mb-md-0">
                    <a href="{{ path('home') }}"><img src="images/logo.png" alt="persa" class="img-fluid"></a>
                </div>
                <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                    <h6>Support</h6>
                    <ul class="list-unstyled">
                        <li class="font-secondary"><a href="{{ path('page_show', {'slug': 'contact'}) }}" class="text-dark">Contact</a></li>
                        <li class="font-secondary"><a href="{{ path('page_show', {'slug': 'mentions-legales'}) }}" class="text-dark">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pb-3 bg-black text-white pt-3">
        <p class="mb-0">Copyright ©
            <script>var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)</script>
        </p>
    </div>
</footer>
</body>
</html>
